POSTGRES_PASSWORD=localpassword
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/agora-webhooks
SECRET_KEY=
TOKEN_ENCRYPTION_KEY=
GITHUB_TOKEN=
